<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Apps</a></li>
        <li class="active">My</li>
        <a ui-sref="apps.add"
           class="btn btn-success pull-right btn-xs">
            <span class="glyphicon glyphicon-plus-sign"></span>
            &nbsp;
            <b>ADD APP</b>
        </a>

    </ol>

    <table class="table table-striped">
        <thead>
        <tr>
            <td class="col-xs-1">ID</td>
            <td>Name</td>
            <td class="col-xs-1">Created</td>
            <td class="col-xs-1">Operations</td>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="app in ctrl.apps">
            <td>{{$index + 1}}</td>
            <td>
                <a ui-sref="apps.edit(app)">{{app.name}}</a>
            </td>
            <td>{{app.dateCreated | date:'yyyy/mm/dd'}}</td>
            <td>
                <a class="btn btn-danger btn-xs"
                        data-ng-click="ctrl.delete(app)"
                        >
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        <tr data-ng-if="!ctrl.apps.length" style="text-align: center;">
            <td  colspan="4" style="padding: 50px;"> No apps created! Add one now.
                <br/>
                <br/>
                <a ui-sref="apps.add"
                                                                        class="btn btn-success btn-xs">
                <span class="glyphicon glyphicon-plus-sign"></span>
                &nbsp;
                <b>ADD APP</b>
            </a></td>
        </tr>
        </tbody>

    </table>

</div>