<div class="container ">
    <div class="row" style="margin: 10% 0 50px 0;">
        <h1 style="    text-align: center;letter-spacing: 25px;">SKYNET</h1>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6"
             style="border: thin solid #DDD;padding: 5px 20px 50px 20px;box-shadow: 0 0 10px 10px rgba(0,0,0,0.02);">
            <div class="col-sm-12">
                <h3 style="border-bottom: thin solid #DDD; text-transform: uppercase;text-align: center;padding-bottom: 15px;margin-bottom: 35px">
                    Sign up
                </h3>
            </div>
            <div class="col-sm-12">
                <form class="form" name="form" ng-submit="register(form)" novalidate>

                    <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
                        <label>Name</label>

                        <input type="text" name="name" class="form-control" ng-model="user.name"
                               required/>

                        <p class="help-block" ng-show="form.name.$error.required && submitted">
                            A name is required
                        </p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
                        <label>Email</label>

                        <input type="email" name="email" class="form-control" ng-model="user.email"
                               required
                               mongoose-error/>

                        <p class="help-block" ng-show="form.email.$error.email && submitted">
                            Doesn't look like a valid email.
                        </p>

                        <p class="help-block" ng-show="form.email.$error.required && submitted">
                            What's your email address?
                        </p>

                        <p class="help-block" ng-show="form.email.$error.mongoose">
                            {{ errors.email }}
                        </p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
                        <label>Password</label>

                        <input type="password" name="password" class="form-control" ng-model="user.password"
                               ng-minlength="3"
                               required
                               mongoose-error/>

                        <p class="help-block"
                           ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
                            Password must be at least 3 characters.
                        </p>

                        <p class="help-block" ng-show="form.password.$error.mongoose">
                            {{ errors.password }}
                        </p>
                    </div>

                    <div style="text-align: center;padding-top: 20px;">
                        <button class="btn btn-danger " style="min-width: 150px;" type="submit">
                            Sign up
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="row" style="text-align: center;padding-top: 50px;">
        <a class="btn btn-default" href="/login">Login</a>
    </div>
</div>
